@tailwind base;
@tailwind components;
@tailwind utilities;

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

@layer base {
    @font-face {
      font-family: "Yanone Kaffeesatz";
      font-style: normal;
      font-weight: 500;
      font-display: optional;
      src: url(/fonts/YanoneKaffeesatz-Medium.ttf) format("truetype");
    }

    @font-face {
      font-family: "Yanone Kaffeesatz";
      font-style: light;
      font-weight: 300;
      font-display: optional;
      src: url(/fonts/YanoneKaffeesatz-Light.ttf) format("truetype");
    }

    @font-face {
      font-family: "Yanone Kaffeesatz";
      font-style: semibold;
      font-weight: 600;
      font-display: optional;
      src: url(/fonts/YanoneKaffeesatz-SemiBold.ttf) format("truetype");
    }
}

@layer components {
    .s1 {
        @apply font-yanone font-semibold text-krokodil-yellow tracking-[0.02em];
        @apply text-[50px] leading-[45px];                          /* mobile */
        @apply desktop:text-[110px] desktop:leading-[95px];         /* desktop */
    }

    .s2 {
        @apply font-yanone text-krokodil-yellow tracking-[0.00em];
        @apply text-[40px] leading-[35px];                          /* mobile */
        @apply desktop:text-[65px] desktop:leading-[58px];          /* desktop */
    }

    .s3 {
        @apply font-yanone text-krokodil-yellow tracking-[0.01em];
        @apply text-[26px] leading-[24px] font-medium;                          /* mobile & desktop */
        @apply desktop:text-[50px] desktop:leading-[45px] font-semibold;                          /* mobile & desktop */
    }
}
