@tailwind base;
@tailwind components;
@tailwind utilities;

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

@font-face {
  font-family: "Yanone Kaffeesatz";
  font-display: swap;
  font-weight: 200 600;
  src: url(/fonts/YanoneKaffeesatz-VariableFont_wght.woff2) format("woff2");
}

/* @font-face { */
/*   font-family: "Yanone Kaffeesatz"; */
/*   font-display: swap; */
/*   src: url(/fonts/YanoneKaffeesatz-Light.woff2) format("woff2"); */
/*   font-weight: 300; */
/* } */

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url(/fonts/Rubik-VariableFont_wght.woff2) format("woff2");
}

body {
    @apply font-rubik;
}

.prose-xl > div > p {
    line-height: 1.3em;
}

.prose-xl > div > p > img {
    margin: 0 auto;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url(/img/bg.jpeg) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

@layer components {
    .s1 {
        @apply font-yanone font-semibold text-krokodil-yellow tracking-[0.02em];
        @apply text-[50px] leading-[45px];                          /* mobile */
        @apply desktop:text-[75px] desktop:leading-[75px];
        @apply wide:text-[110px] wide:leading-[95px];         /* desktop */
    }

    .s2 {
        @apply font-yanone text-krokodil-yellow tracking-[0.00em];
        @apply text-[40px] leading-[35px];                          /* mobile */
        @apply desktop:text-[65px] desktop:leading-[58px];          /* desktop */
    }

    .s3 {
        @apply font-yanone text-krokodil-yellow tracking-[0.01em];
        @apply text-[40px] leading-[35px] font-medium;                          /* mobile & desktop */
        @apply desktop:text-[50px] desktop:leading-[45px] font-semibold;                          /* mobile & desktop */
    }
}
